html, body {
  height: 100%;
  width: 100%;
  background-color: #e1e3e8;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* position: relative; */
  /* height: auto; */
  /* min-height: 100% !important; */
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#mainside {
  width: 72%;
  display: inline-block;
  height: 100%;
  float: left;
  background-color: green;
  /* position: relative; */
}

#dankstreamlogo {
  position: absolute;
  top: 63%;
  left: 1%;
  width: 10%;
  height: 5%;
  background-color: green;
  opacity: 0.5;
}

#bottom_row_1 {
  width: 100%;
  height: 50%;
  /* display: block; */
  background-color: yellow;
  /* margin: auto; */
}
#bottom_row_2 {
  width: 100%;
  height: 50%;
  /* display: block; */
  background-color: yellow;
  /* display: grid; */
  /* margin: auto; */
}

#bottom_bottom {
  width: 100%;
  /* margin-left: 12%; */
  height: 72%;
  display: block;
  text-align: center;
}



.bottom_button {
  /* margin: auto; */
  /* word-wrap: break-word;
  white-space: initial; */
  display: inline-block;
  /* margin: auto; */
  /* float: left; */
  width: 26%;
  height: 70%;
  background-color: white;
  /* margin-left: 10%; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2vw;
  font-weight: bold;
  border-radius: 20px;
}

button:focus {
  outline: 0;
}

.bottom_button + .bottom_button {
  margin-left: 3%;
}

#video_box_outer {
  position: relative;
  /* top: 50%;
  transform: translateY(-50%); */
  width: 100%;
  height: 100%;
  background-color: black;
  /* margin: auto; */
  overflow: hidden;
  text-align: center;
  z-index: 3;
}
#video_box_outer:before {
	content: "";
	width: 1px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-left: -1px;
}

#video_canvas {
  display: block;
  width: 72%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(0,0,0,0); */
  z-index: 4;
}

/* #video_box_outer > video {
  min-width: 100%;
  min-height: 100%;
  outline: 1px solid yellow;
} */

#bottom_top {
  width: 100%;
  height: 28%;
  display: block;
  background-color: orange;
}

#we_are_watching {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5vw;
}



#maintop {
  display: block;
  width: 100%;
  height: 70%;
  background-color: pink;
}

#mainbottom {
  display: block;
  width: 100%;
  height: 30%;
  background-color: aqua;
}

.info_item {
  height: 25%;
  width: 100%;
  color: white;
  font-size: calc(8px + 0.7vw);
  margin-left: 3%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /* margin: 15% auto; */
    position: absolute;
    /* ^^15% from the top and centered */

    /* margin-left: 73%; */
    /* padding: 5%; */
    /* width: 10%; */
    /* margin-top: 20%;
    width: 28%; */
}

#servinfo {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#servinfo > p {
  color: white;
}

#chat {
  display: inline-block;
  width: 28%;
  height: 100%;
  float: right;
  outline: 1px solid black;
  /* -webkit-box-shadow:inset 0px 0px 0px 1px #000;
  -moz-box-shadow:inset 0px 0px 0px 1px #000;
  box-shadow:inset 0px 0px 0px 1px #000; */
}

#chat_is_hidden {
  width: 100%;
  height: 100%;
  background-color: #e6e8ed;
  display: none;
  text-align: center;
}

#chat_hidden_msg {
  width: auto;
  height: 10%;
  font-size: 1.7vw;
  margin-top: 20%;
}

#unhide_chat {
  margin-top: 10%;
  width: auto;
  height: 10%;
  font-size: 1.6vw;
}

#infobox {
  display: block;
  width: 100%;
  height: 15%;
  background-color: green;
}
#mainchat {
  overflow: auto;
  display: block;
  width: 100%;
  height: 70%;
}
#chatmsg {
  display: block;
  width: 100%;
  height: 15%;
  position: relative;
}
#chatfield {
  display: inline-block;
  float: left;
  position: relative;
  width: 85%;
  height: 100%;
  background-color: white;
}

#enter_usrname {
  width: 100%;
  height: 100%;
  /* z-index: 11; */
  position: absolute;
  opacity: 0;
  background-color: white;
}
#usrname_input {
  display: inline-block;
  width: 70%;
  height: 100%;
  font-size: 1.5vw;
}
#usrname_input_button {
  display: inline-block;
  width: 24%;
  height: 90%;
  margin-left: 1%;
  font-size: 1.5vw;
}
#chat_not_ready {
  width: 100%;
  height: 100%;
  z-index: 6;
  position: absolute;
  /* background-color: rgba(20,10,90,0.3); */
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
}
#get_name {
  z-index: 7;
  position: absolute;
  margin-left: 24%;
  margin-top: 3%;
  width: 50%;
  height: 70%;
  background-color: black;
  border-radius: 20px;
  display: grid;
  opacity: 0;
}
#get_name > div {
  font-size: 1.5vw;
  margin: auto;
  color: white;
}
#get_name:hover {
  cursor: pointer;
}

#chat_input_field {
  width: 100%;
  height: 100%;
}

#chatoptions {
  z-index: 9;
  /* display: flex; */
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  width: 3vh;
  height: 3vh;
  /* padding-top: 7%; */
  /* background-color: silver; */
  border-radius: 100%;
  /* background-image: url("http://dankstream.com/static/settings_wheel.png") */
}
#chatoptions > img {
  max-width: 100%;
  max-height: 100%;
}
#chatsubmit {
  display: inline-block;
  float: left;
  width: 15%;
  height: 100%;
  background-color: purple;
  text-align: center;
}
#chatsubmit:hover, #chatsubmit>span:hover {
  cursor: pointer;
}
#chatsubmit > span {
  display: inline-block;
  color: white;
  font-size: 2vw;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  /* margin-top: 45%; */
  /* margin:10px 10px 0 0; */
  /* padding:5px 10px; */
}

#msg0 {
  white-space: initial;
  word-wrap: break-word;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}
#msg1 {
      font-size: 1.4vw;
}

#chat_opts {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #e6e8ed;
  position: absolute;
  text-align: center;
  /* opacity: 0; */
}

/* #chat_opts > span {
  margin-left: 25%;
} */

#pick_color_div {
  width: 100%;
  height: 20%;
  display: block;
}
#chat_color_txt {
  font-size: calc(10px + 1vh);
  width: auto;
  height: 20%;
  display: block;
}
#chat_opts_buttons {
  display: block;
  width: 100%;
  height: 30%;
  margin-top: 2%;
}

.chat_opts_butts {
  font-size: calc(10px + 1vh);
  margin-right: 2%;
  outline: 1px solid black;
  background-color: white;
}
.chat_opts_butts:hover {
  cursor: pointer;
}

.pick_color {
  display: inline-block;
  width: 7%;
  height: 100%;
  margin-left: 2%;
  /* background-color: orange; */
}

#pick_purple {
  background-color: purple;
}
#pick_red {
  background-color: red;
}
#pick_green {
  background-color: green;
}
#pick_blue {
  background-color: blue;
}
#pick_coral {
  background-color: coral;
}
#pick_yellow {
  background-color: yellow;
}
#pick_orange {
  background-color: orange;
}
#pick_aqua {
  background-color: aqua;
}
#pick_pink {
  background-color: pink;
}

.color_d {
  font-size: 1.5vw;
  font-weight: 700;
  color: purple;
}
.color_a {
    font-size: 1.5vw;
    font-weight: 700;
  color: yellow;
}
.color_b {
    font-size: 1.5vw;
    font-weight: 700;
  color: blue;
}
.color_c {
      font-size: 1.5vw;
    font-weight: 700;
  color: coral;
}
.color_e {
      font-size: 1.5vw;
    font-weight: 700;
  color: red;
}
.color_f {
      font-size: 1.5vw;
    font-weight: 700;
  color: orange;
}
.color_g {
      font-size: 1.5vw;
    font-weight: 700;
  color: green;
}
.color_h {
      font-size: 1.5vw;
    font-weight: 700;
  color: aqua;
}
.color_i {
      font-size: 1.5vw;
    font-weight: 700;
  color: pink;
}
